click
ddtrace
dnspython
email-validator
flask-assets
flask-login
flask-sqlalchemy
flask-wtf
flask
idna
intervaltree
itsdangerous
jinja2
markupsafe
protobuf
pymysql
python-dotenv
six
sortedcontainers
sqlalchemy
tenacity
uwsgi
webassets
werkzeug
wtforms